main section{
    margin-left: 150px;
    margin-right: 150px;
    
}

/* Action */

.action{
    display: flex;
    justify-content: space-around;
}

.act-content{
    text-align: left;
}


.act-head{
    font-size: 42px;
}

.act-desc{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 23px;
    margin-bottom: 23px;
}

.act-img{
    border-radius: 48px;
}

/* Join */

.join{
    text-align: center;
    margin-top: 115px;
    margin-bottom: 130px;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
}

.join-head{
    font-size: 38px;
}

.join-items{
    display: flex;
    gap: 155px;
    justify-content: center;
}

.jn-item-head{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
}

.jn-item-desc{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}


/* Focus */
.focus{
    text-align: center;
    padding: 70px 150px;
    margin-top: 130px;
    margin-bottom: 90px;
}

.focus-head{
    font-size: 50px;
    margin-bottom: 0;
}

.focus-desc{
    color: rgba(0, 0, 0, 0.5);
}

.focus-btn{
    margin-bottom: 20px;
}

.focus-img{
    border-radius: 48px;
}


/* Get in Touch */
.touch{
    display: flex;
    gap: 115px;
    justify-content: space-around;
}

.touch-head{
    font-size: 97px;
}

.form-itm{
    margin-bottom: 20px;
}

.form-itm label{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.form-itm input,textarea{
    padding: 10px 25px;
}

.form-itm input[type=email], input[type=text]{
    width: 500px;
    height: 70px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
}

.form-itm textarea{
    width: 500px;
    height: 135px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
}


::placeholder {
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.form-btn{
    width: 550px;
    height: 60px;
    padding: 20px 100px;
}