.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.black-1{
    color: #252432;
}

.black-2{
    color: #000000;
}

.bold{
  font-weight: bold;
}

.regular{
  font-weight: 400;
}

